#table1 td{
	padding:5px 10px !important;
	word-break:break-all;
}
#table1 tr th:last-child,#table1 tr td:last-child{
	width: 100px;
    text-align: center;
}
#table1_filter{
	float:right;
}
.dataTables_paginate{
	float:right;	
}
.dataTables_length select.input-sm{
	height:27px !important;
}
.dataTables_filter input[type=search]{
	height:27px !important;
	margin-left:5px;
}
.dataTables_paginate .pagination>li>a{
	padding: 7px 12px 6px !important;
}


.be-left-sidebar .sidebar-elements>li{
	border-bottom:1px solid #ddd;
	background-color:#fff;
}
.be-left-sidebar .sidebar-elements>li>a {
    color: #337ab7;
}

.be-left-sidebar .sidebar-elements>li>a:hover>span{
	 color: #337ab7;
}
.be-left-sidebar .left-sidebar-content{
	padding-top:1px;
}
.be-left-sidebar .sidebar-elements>li ul {
    background-color: #f5f5f5;
    padding: 0px;
    border-top: 1px solid #e6e6e6;
    border-bottom:0px;
}
.be-datatable-header {
    padding: 5px 0px 10px;
}
.panel-default>.panel-heading {
    color: #337ab7;
    font-weight: 400;
}

.select2{height:40px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{height: 38px;line-height: 40px;}
.select2-container--default .select2-selection--single {height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b:after{line-height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 38px;}

.sm.select2{height:30px;}
.sm .select2-container--default .select2-selection--multiple {
    min-height: 30px;
}

.form-control{
	height:40px;
}
label{
	text-align: right;
    padding-top: 9px;
}
.has-error label{
	color:#ea4335;
}
label span{
	color:red;
}
.mdi-spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.box{
	background-color: #ececec;
    padding: 10px 0px;
    margin-bottom: 10px;
	position:relative;
}
.box .remove{
	position: absolute;
    top: 0;
    right: 0;
    background-color: #de5225;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.image{height: 200px; border: 1px solid #CCC; width: 100%; text-align: center; background-color: #CCC; cursor:pointer; }
.image h4{line-height: 180px;}
.image input[type=file]{display:none;}
.image.upload{background-image:url('../images/blog_img2.png');background-size:100% 100% !important;background-repeat:no-repeat;}
.image.upload h4{display:none;}
.image.upload:hover{background:#CCC !important;}
.image.upload:hover h4{display:block;}

img.preview{width:300px;height:200px;margin-top:10px;}


.progress { position:relative; width:100%; height:22px; border: 1px solid #ddd; padding: 1px; border-radius: 3px;margin:3px 0px; }
.bar { background-color: #178217; width:0px; height:17px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:0px; left:48%; color:#fff;}

.api_products td select:disabled{
	background-color: #ebebe4;
}
.api_products td input{
	width:50px;
}

.api_products td img{
	height:50px;
}
.api_products td img{
	width:15%;
    vertical-align: top;
}
.api_products td .name{
	width:83%;
	padding-left:5px;
	display:inline-block;
}
.has-error{
	border:1px solid red;
}
.has-success{
	border:1px solid green;
}
.select2{
	width:100%;
	display: table;
}
